body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: #fff;

  background-size: cover;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: #fff;
}

.nav_div {
  display: flex;
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  color: white;
  padding: 1em 0;
  font-size: 24px;
  overflow: hidden;

  height: 9%;
  width: 100%;
}

.heading {
  margin: 0px 0px 0px 20px;
  text-shadow: 0 13.36px 8.896px #292929, 0 -2px 1px #2d2d2d;
  color: #000000;
}

form {
  height: 100%;
  width: 48%;
}

.card {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.result_div {
  display: flex;
  width: 30%;
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 1rem;
  text-shadow: 0 13.36px 8.896px #292929, 0 -2px 1px #2d2d2d;
  color: #000000;
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
}

img {
  width: 120px;
}

.temp_result {
  font-size: 62px;
  margin: 0.5rem 0 0 2rem;
}

.sub {
  display: flex;
  width: 75%;
  font-size: 22px;
  margin: 1rem 0 1rem 1rem;
  padding: 1rem 0 1rem 1rem;
  text-shadow: 0 3.36px 4.896px #292929, 0 0px 0px #2d2d2d;
  color: #000000;
  border-radius: 10px;
  font-style: italic;
  font-weight: bold;
}

.right {
  padding-left: 2rem;
}

.left div {
  margin-bottom: 1rem;
}

.right div {
  margin-bottom: 1rem;
}

#city {
  margin-left: 40px;
  padding-left: 25px;
  margin-top: 1rem;
  background-color: transparent;
  height: 70%;
  width: 100%;
  border-radius: 30px;
  font-size: 24px;
  color: #000;
  font-weight: bold;
  opacity: 0.7;
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 13.36px 8.896px #292929, 0 -2px 1px #2d2d2d;
  text-shadow: 0 13.36px 8.896px #292929, 0 -2px 1px #2d2d2d;
  outline: none;
  text-transform: capitalize;
}

::placeholder {
  color: #000;
}

#city_name,
#weather_condition {
  font-size: 36px;
}

/* ****************************** TAblet CSS************************************************* */

@media screen and (max-width: 770px) {
  .nav_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15%;
  }
  h1 {
    text-align: center;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .card {
    align-items: center;
  }

  .result_div {
    width: 50%;
    padding: 0;
    margin: 0;
    /* background: rgba(0, 0, 0, 0.3); */
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border-radius: 10px;
  }

  img {
    margin-left: 0.5rem;
    width: 100px;
  }

  .temp_result {
    display: flex;
    font-size: 42px;
    margin: 2rem 0 0 1rem;
  }

  .sub {
    width: 75%;
    justify-content: center;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  .right {
    margin-left: 0.4rem;
  }

  .left div {
    margin-bottom: 0.5rem;
  }

  .right div {
    margin-bottom: 0.5rem;
  }

  #city {
    padding-left: 0.5%;
    text-align: center;
    opacity: 0.7;
    margin-left: 0;
    width: 50%;
  }

  #tempF {
    margin-left: 1rem;
  }

  #city_name,
  #weather_condition {
    font-size: 26px;
  }
}

/* ************************************ MOBILE  */

@media screen and (max-width: 430px) {
  .nav_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15%;
  }
  .heading {
    margin: 0;
    text-align: center;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .card {
    align-items: center;
  }

  .result_div {
    width: 75%;
    padding: 0;
    display: block;
    text-align: center;
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border-radius: 10px;
  }

  img {
    margin-left: 0.5rem;
    width: 100px;
  }

  .temp_result {
    display: flex;
    font-size: 42px;
    justify-content: center;
    margin: 0;
  }

  .sub {
    width: 75%;
    justify-content: center;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    margin: 1rem 0 1rem 0;
    border-radius: 10px;
  }

  .right {
    margin-left: 0.4rem;
  }

  .left div {
    margin-bottom: 0.5rem;
  }

  .right div {
    margin-bottom: 0.5rem;
  }

  .temp_result {
    font-size: 36px;
  }

  #city {
    padding-left: 0.5%;
    text-align: center;
    opacity: 0.7;
    margin-left: 0;
    width: 80%;
  }

  #tempF {
    margin-left: 1rem;
  }

  #city_name,
  #weather_condition {
    font-size: 26px;
  }
}
